%div{:style=>'border-bottom:1px dashed #ccc;padding-bottom:10px;'}
  %p
    %strong
      Artículo 145673
  %p
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
  %div.row
    %div.col-md-6
      %i.fa.fa-check-circle.fa-2x
      A favor
    %div.col-md-6.text-right
      29 / 12 / 2013


%div{:style=>'border-bottom:1px dashed #ccc;margin-top:30px; margin-bottom:20px;padding-bottom:10px;'}
  %p
    %strong
      Artículo 145673
  %p
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
  %div.row
    %div.col-md-6
      %i.fa.fa-times-circle.fa-2x
      En contra
    %div.col-md-6.text-right
      29 / 12 / 2013


%div
  %p
    %strong
      Artículo 145673
  %p
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
  %div.row
    %div.col-md-6
      %i.fa.fa-minus-circle.fa-2x
      Abstención
    %div.col-md-6.text-right
      29 / 12 / 2013