.row
  .col-md-offset-4.col-md-4
    %h2
      = t('user_subscriptions.subscribe')
    %p
      = sprintf( t('user_subscriptions.description'), params[:bill]).html_safe
    %hr
      = render :partial => "form", :locals => {:user => @user }