%div.row{:style=>'margin-bottom:20px;'}
  %div.col-md-7
    %p
      27-12-2013
    %p
      8449-04
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore iusto architecto blanditiis nulla distinctio nobis at vero consequuntur? Autem, mollitia, quis totam quos voluptatum 
    %p
      Link o Tags

    %div.progress
      %a{'href'=>'#', 'class'=>'green-votes-bar-1'}
        %div.progress-bar.progress-bar-success{'style'=>'width: 35%'}
          35 Aprobado
      %a{'href'=>'#', 'class'=>'red-votes-bar-1'}
        %div.progress-bar.progress-bar-danger{'style'=>'width: 35%'}
          35 Rechazado
      %a{'href'=>'#', 'class'=>'skyblue-votes-bar-1'}
        %div.progress-bar.progress-bar-info{'style'=>'width: 10%'}
          10 Abstención
      %a{'href'=>'#', 'class'=>'yellow-votes-bar-1'}
        %div.progress-bar.progress-bar-warning{'style'=>'width: 10%'}
          5 Ausentes
      %a{'href'=>'#', 'class'=>'blue-votes-bar-1'}
        %div.progress-bar.progress-bar-default{'style'=>'width: 10%'}
          5 Pareos
    %p
      %strong
        Resultado: APROBADO
  %div.col-md-5
    %div.chamber-1
      %div.row
        %div.col-md-1
        
        %div.col-md-1
          %div.against-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div.against-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador9.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div.against-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador8.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div.positive-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador7.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div.against-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador6.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}

        %div.col-md-1
          %div.positive-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador5.jpg', 'class' => 'img-circle chamber'}
            %a{'href' => '#'}
              %span{'class' => 'positive'}
          %div.abstention-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador4.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'abstention'}
          %div.against-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador3.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div.positive-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador2.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div.against-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador1.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
        
        %div.col-md-1  
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'paring'}
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'paring'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
        
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'abstention'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'paring'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'paring'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'ausent'}
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'ausent'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'ausent'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'abstention'}
        %div.col-md-1
:javascript
  $(document).ready(function(){
    var backgroundColor = 'background-color:#FFF; opacity:0.8;'
    //a favor
    $('.green-votes-bar-1').mouseover(function(e){
      $('.chamber-1 span.positive').removeAttr('style','');
      $('.chamber-1 span.against').attr('style',backgroundColor);
      $('.chamber-1 span.abstention').attr('style',backgroundColor);
      $('.chamber-1 span.ausent').attr('style',backgroundColor);
      $('.chamber-1 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-1 span.against').removeAttr('style','');
      $('.chamber-1 span.abstention').removeAttr('style','');
      $('.chamber-1 span.paring').removeAttr('style','');
      $('.chamber-1 span.ausent').removeAttr('style','');
    });

    //en contra
    $('.red-votes-bar-1').mouseover(function(e){
      $('.chamber-1 span.against').removeAttr('style','');
      $('.chamber-1 span.positive').attr('style',backgroundColor);
      $('.chamber-1 span.abstention').attr('style',backgroundColor);
      $('.chamber-1 span.ausent').attr('style',backgroundColor);
      $('.chamber-1 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-1 span.positive').removeAttr('style','');
      $('.chamber-1 span.abstention').removeAttr('style','');
      $('.chamber-1 span.paring').removeAttr('style','');
      $('.chamber-1 span.ausent').removeAttr('style','');
    });

    //abstencion
    $('.skyblue-votes-bar-1').mouseover(function(e){
      $('.chamber-1 span.abstention').removeAttr('style','');
      $('.chamber-1 span.against').attr('style',backgroundColor);
      $('.chamber-1 span.positive').attr('style',backgroundColor);
      $('.chamber-1 span.ausent').attr('style',backgroundColor);
      $('.chamber-1 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-1 span.positive').removeAttr('style','');
      $('.chamber-1 span.against').removeAttr('style','');
      $('.chamber-1 span.abstention').removeAttr('style','');
      $('.chamber-1 span.paring').removeAttr('style','');
    });

    //ausencia
    $('.yellow-votes-bar-1').mouseover(function(e){
      $('.chamber-1 span.ausent').removeAttr('style','');
      $('.chamber-1 span.against').attr('style',backgroundColor);
      $('.chamber-1 span.positive').attr('style',backgroundColor);
      $('.chamber-1 span.abstention').attr('style',backgroundColor);
      $('.chamber-1 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-1 span.positive').removeAttr('style','');
      $('.chamber-1 span.against').removeAttr('style','');
      $('.chamber-1 span.abstention').removeAttr('style','');
      $('.chamber-1 span.paring').removeAttr('style','');
      $('.chamber-1 span.ausent').removeAttr('style','');
    });

    //pareo
    $('.blue-votes-bar-1').mouseover(function(e){
      $('.chamber-1 span.paring').removeAttr('style','');
      $('.chamber-1 span.against').attr('style',backgroundColor);
      $('.chamber-1 span.positive').attr('style',backgroundColor);
      $('.chamber-1 span.abstention').attr('style',backgroundColor);
      $('.chamber-1 span.ausent').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-1 span.positive').removeAttr('style','');
      $('.chamber-1 span.against').removeAttr('style','');
      $('.chamber-1 span.abstention').removeAttr('style','');
      $('.chamber-1 span.ausent').removeAttr('style','');
    });
  })


%div.row{:style=>'border-top: 1px solid #ccc; padding-top: 30px;'}
  %div.col-md-7
    %p
      27-12-2013
    %p
      8449-04
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore iusto architecto blanditiis nulla distinctio nobis at vero consequuntur? Autem, mollitia, quis totam quos voluptatum 
    %p
      Link o Tags

    %div.progress
      %a{'href'=>'#', 'class'=>'green-votes-bar-2'}
        %div.progress-bar.progress-bar-success{'style'=>'width: 35%'}
          35 Aprobado
      %a{'href'=>'#', 'class'=>'red-votes-bar-2'}
        %div.progress-bar.progress-bar-danger{'style'=>'width: 35%'}
          35 Rechazado
      %a{'href'=>'#', 'class'=>'skyblue-votes-bar-2'}
        %div.progress-bar.progress-bar-info{'style'=>'width: 10%'}
          10 Abstención
      %a{'href'=>'#', 'class'=>'yellow-votes-bar-2'}
        %div.progress-bar.progress-bar-warning{'style'=>'width: 10%'}
          5 Ausentes
      %a{'href'=>'#', 'class'=>'blue-votes-bar-2'}
        %div.progress-bar.progress-bar-default{'style'=>'width: 10%'}
          5 Pareos
    %p
      %strong
        Resultado: APROBADO
  %div.col-md-5
    %div.chamber-2
      %div.row
        %div.col-md-1
        
        %div.col-md-1
          %div.against-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador10.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div.against-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador9.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div.against-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador8.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div.positive-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador7.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div.against-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador6.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}

        %div.col-md-1
          %div.positive-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador5.jpg', 'class' => 'img-circle chamber'}
            %a{'href' => '#'}
              %span{'class' => 'positive'}
          %div.abstention-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador4.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'abstention'}
          %div.against-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador3.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div.positive-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador2.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div.against-vote
            %img{'src' => 'http://www.senado.cl/prontus_senado/imag/dn5/senadores/senador1.jpg', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
        
        %div.col-md-1  
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'paring'}
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'paring'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
        
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'abstention'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'paring'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'paring'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'ausent'}
        %div.col-md-1
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'ausent'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'ausent'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'against'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'positive'}
          %div
            %img{'src' => 'http://placehold.it/55x55', 'class' => 'img-circle chamber'}
            %span{'class' => 'abstention'}
        %div.col-md-1
:javascript
  $(document).ready(function(){
    var backgroundColor = 'background-color:#FFF; opacity:0.8;'
    //a favor
    $('.green-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.against').attr('style',backgroundColor);
      $('.chamber-2 span.abstention').attr('style',backgroundColor);
      $('.chamber-2 span.ausent').attr('style',backgroundColor);
      $('.chamber-2 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.paring').removeAttr('style','');
      $('.chamber-2 span.ausent').removeAttr('style','');
    });

    //en contra
    $('.red-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.positive').attr('style',backgroundColor);
      $('.chamber-2 span.abstention').attr('style',backgroundColor);
      $('.chamber-2 span.ausent').attr('style',backgroundColor);
      $('.chamber-2 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.paring').removeAttr('style','');
      $('.chamber-2 span.ausent').removeAttr('style','');
    });

    //abstencion
    $('.skyblue-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.against').attr('style',backgroundColor);
      $('.chamber-2 span.positive').attr('style',backgroundColor);
      $('.chamber-2 span.ausent').attr('style',backgroundColor);
      $('.chamber-2 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.paring').removeAttr('style','');
    });

    //ausencia
    $('.yellow-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.ausent').removeAttr('style','');
      $('.chamber-2 span.against').attr('style',backgroundColor);
      $('.chamber-2 span.positive').attr('style',backgroundColor);
      $('.chamber-2 span.abstention').attr('style',backgroundColor);
      $('.chamber-2 span.paring').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.paring').removeAttr('style','');
      $('.chamber-2 span.ausent').removeAttr('style','');
    });

    //pareo
    $('.blue-votes-bar-2').mouseover(function(e){
      $('.chamber-2 span.paring').removeAttr('style','');
      $('.chamber-2 span.against').attr('style',backgroundColor);
      $('.chamber-2 span.positive').attr('style',backgroundColor);
      $('.chamber-2 span.abstention').attr('style',backgroundColor);
      $('.chamber-2 span.ausent').attr('style',backgroundColor);
    }).mouseout(function(){
      $('.chamber-2 span.positive').removeAttr('style','');
      $('.chamber-2 span.against').removeAttr('style','');
      $('.chamber-2 span.abstention').removeAttr('style','');
      $('.chamber-2 span.ausent').removeAttr('style','');
    });
  })