/ %strong Created at:
/ = DateTime.parse(instruction['created_at']).to_date.to_s
/ %br/
%strong Date:
= DateTime.parse(instruction['date']).to_date.to_s
%br/
/ %strong Event:
/ = instruction['event']
/ %br/
%strong Stage:
= instruction['stage']
%br/
%strong Step:
= instruction['step']
%br/
/ %strong Updated at:
/ = instruction['updated_at']
/ %br/
%br/