- if !modification['description'].blank?
  %strong= t 'modification.description'
  = modification['description'] if !modification['description'].blank?
  %br/
%strong= t 'modification.modification'
= modification['modification']
%br/
%br/