- if !modification['description'].blank?
  %strong= t 'modification.description'
  = modification['description']
  %br/
- if !modification['modification'].blank?
  %strong= t 'modification.modification'
  = modification['modification']
  %br/
%br/