- if !revision['description'].blank?
  %strong= t 'revision.description'
  = revision['description']
  %br/
- if !revision['revision'].blank?
  %strong= t 'revision.revision'
  = revision['revision']
  %br/
%br/