%div.row
  %div.col-md-6.col-md-offset-3
    = form_tag({controller: "searches", action: "index"}, :method => 'get') do
      %div.input-group
        %span.input-group-addon
          %i.fa.fa-search
        %input.form-control{:name=>'q'}
        %span.input-group-btn
          %button.btn.btn-default
            Buscar
  %div.col-md-6.col-md-offset-3.form-inline
    %div.checkbox{:style=>'padding-right:15px'}
      %label
        %input{:type=>"checkbox"}
          Proyectos de ley
    %div.checkbox{:style=>'padding-right:15px'}
      %label
        %input{:type=>"checkbox"}
          Parlamentarios
    %div.checkbox
      %label
        %input{:type=>"checkbox"}
          Preguntas