/ %strong Created at:
/ = DateTime.parse(urgencie['created_at']).to_date.to_s
/ %br/
/ %strong Entry chamber:
/ = urgencie['entry_chamber']
/ %br/
%strong Entry date:
= DateTime.parse(urgencie['entry_date']).to_date.to_s
%br/
/ %strong Entry message:
/ = urgencie['entry_message']
/ %br/
%strong Type:
= urgencie['type']
%br/
/ %strong Updated at:
/ = urgencie['updated_at']
/ %br/
/ %strong Withdrawal chamber:
/ = urgencie['withdrawal_chamber']
/ %br/
/ %strong Withdrawal date:
/ = urgencie['withdrawal_date']
/ %br/
/ %strong Withdrawal message:
/ = urgencie['withdrawal_message']
/ %br/
%br/