%div.row
  %div.col-md-6.col-md-offset-3
    = form_tag(t('routes.searches'), :method => 'get') do
      %div.input-group
        %span.input-group-addon
          %i.fa.fa-search
        %input.form-control{:name=>'q'}
        %span.input-group-addon
          Buscar
%div.row{:style=>'padding-top:30px;'}
  %div.col-md-2
    %h5
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %div.radio
      %label
        %input{:type => "radio", :name => 'name01'}
        lala
    %div.radio
      %label
        %input{:type => "radio", :name => 'name01'}
        lala
    %h5
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %div.radio
      %label
        %input{:type => "radio", :name => 'name02'}
        lala
    %div.radio
      %label
        %input{:type => "radio", :name => 'name02'}
        lala
    %h5
      Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    %select.form-control
      %option
        value01
      %option
        value02
      %option
        value03
    /%div
    /  %button.btn.btn-primary
    /    filtrar

  %div.col-md-10
    %div
      %div.row
        %div.col-md-1
          %img.img-responsive{:src=>'http://placehold.it/75/75'}
        %div.col-md-9
          %h3 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          %p
            Nesciunt, fuga, eaque eligendi saepe repellendus minus iste cumque voluptas dolor fugiat ducimus a molestiae consectetur eum accusantium ea debitis illum nulla!
          %div
            %ul.list-inline
              %li 
                %span.label.label-default 
                  Educación
              %li 
                %span.label.label-default 
                  Beca alimentaria
              %li 
                %span.label.label-default 
                  tag03
              %li 
                %span.label.label-default 
                  tag04

        %div.col-md-2.hidden-xs
          %ul.list-inline
            %li
              %i.fa.fa-twitter
            %li
              %i.fa.fa-facebook
            %li
              %i.fa.fa-thumbs-up
            %li
              %i.fa.fa-thumbs-down

      %div.infograph
        %canvas#myChart{'height'=>"80", 'width'=>'750', 'style'=>'width:100%'}

    %div
      %div.row
        %div.col-md-1
          %img.img-responsive{:src=>'http://placehold.it/75/75'}
        %div.col-md-9
          %h3 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
          %p
            Nesciunt, fuga, eaque eligendi saepe repellendus minus iste cumque voluptas dolor fugiat ducimus a molestiae consectetur eum accusantium ea debitis illum nulla!
          %div
            %ul.list-inline
              %li 
                %span.label.label-default 
                  Educación
              %li 
                %span.label.label-default 
                  Beca alimentaria
              %li 
                %span.label.label-default 
                  tag03
              %li 
                %span.label.label-default 
                  tag04
        %div.col-md-2.hidden-xs
          %ul.list-inline
            %li
              %i.fa.fa-twitter
            %li
              %i.fa.fa-facebook
            %li
              %i.fa.fa-thumbs-up
            %li
              %i.fa.fa-thumbs-down
      %div.infograph
        %canvas#myChartInt{'height'=>"80", 'width'=>'750', 'style'=>'width:100%'}

    %script{'src'=>"http://www.chartjs.org/assets/Chart.js"}
    :javascript
      window.onload = function(){
        var freq = [0,0,0,2,3,3,6,2,2,0,0,0,1,2,0]
        generateGraph(freq,'myChart');
        var freq = [0,3,0,2,0,3,2,0,2,0,5,0,1,2,1]
        generateGraph(freq,'myChartInt');
      }