%section#graph
  %div.row
    %div.col-md-9
      %h3
        Título Gráfico
    %div.col-md-3
      %p
        Descargar historial
        %i.fa.fa-download
  %div.graph{'style'=>'height:200px'}
  /the graph
  
  %div#timeline
    - cnt = 0
    - while cnt < 6
      %div.timeline-container
        %div.status
          %img{'src'=>'http://placehold.it/50x50'}
        %div.resume
          %h4
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, eum, esse in consectetur libero obcaecati
          %p
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, doloribus porro aperiam a soluta natus repellat perferendis rerum fuga neque vero delectus quae magnam. Quisquam quo velit expedita fuga nam?
          - if cycle('odd', 'even') == 'odd'
            - green = "width:" + rand(30...50).to_s + "%"
            - yellow = "width:" + rand(20...35).to_s + "%"
            - red = "width:" + rand(10...30).to_s + "%"
            
            %div.progress
              %div.progress-bar.progress-bar-success{"style" => green}
                %span.sr-only
                  35% Complete (success)
              %div.progress-bar.progress-bar-warning{"style" => yellow}
                %span.sr-only
                  20% Complete (warning)
              %div.progress-bar.progress-bar-danger{"style" => red}
                %span.sr-only
                  45% Complete (danger)
          - cnt += 1

  %p.showmore.text-center
    %i#showicon.fa.fa-chevron-down

:css
  .showmore {
    background-color: #CCC;
  }
  .showless {
    background-color: #CCC;
  }
  #timeline {
    height: 100px;
    overflow: hidden;
  }

:javascript
  $('#graph').on('click', 'p.showmore', function(){
    $('#timeline').css('height', 'auto');
    $('#timeline').css('overflow', 'visible');
    $(this).attr('class','showless');
    $(this).addClass('text-center');
    $('#showicon').attr('class','fa fa-chevron-up');
  });

  $('#graph').on('click', 'p.showless', function(){
    $('#timeline').css('height', '100px');
    $('#timeline').css('overflow', 'hidden');
    $(this).attr('class','showmore');
    $(this).addClass('text-center');
    $('#showicon').attr('class','fa fa-chevron-down');
  })
  