:javascript
  var billuid = '#{@bill.uid}';

  window.onload = function () {
    if(typeof window.generateGraph == 'function') {
      generateGraph(#{@date_freq});
    }
  }

%div
  %h3.page-header
    =@bill.title
%div.row
  %div.col-md-9
    %p{:style=>'font-style: italic; font-size:16px;'}
      =@bill.abstract
    %div.row
      %div.col-md-2
        %strong
          Boletín:
      %div.col-md-10
        =@bill.uid
    %div.row
      %div.col-md-2
        %strong
          Materias:
      %div.col-md-10
        %ul.list-inline
          - @matters = @bill.subject_areas
          =render partial: "matter", collection: @matters
    %div.row
      %div.col-md-2
        %strong
          Tags:
      %div.col-md-10
        %ul.list-inline
          - if !@bill.tags.blank?
            - @bill.tags.each do |tag|
              %li
                %span.label.label-info= tag
    %p
      %a{:href=>'#'}
        %i.fa.fa-download
        Descargar
    
  %div.col-md-3
    %div{:style=>'border: 1px solid #ccc; border-radius: 5px;'}
      %ul{:style=>'list-style:none;'}
        %li
          %i.fa.fa-bell
          = link_to 'Suscríbete', new_user_subscription_path(:bill => params[:id])
        %li
          %i.fa.fa-facebook
          Comparte
        %li
          %i.fa.fa-twitter
          %a{'href'=>'#', 'onclick' => "window.open('https://twitter.com/share?text="+@bill.title+"&hashtags=PMO','Twitter','width=500,height=280')"}
            Twitea
        %li
          %i.fa.fa-thumbs-up
            23
          %i.fa.fa-thumbs-down
            15



%div
  %h3.page-header
    Avances
  %canvas#myChartInt{'height'=>"80",'width'=>'750', 'style'=>'width:100%'}

%script{'src'=>"http://www.chartjs.org/assets/Chart.js"}
:javascript
  window.onload = function(){
    
    var freq = [0,3,0,2,0,3,2,0,2,0,5,0,1,2,1]
    generateGraph(freq,'myChartInt');
  }

%div
  %h3.page-header
    Votaciones
  =render partial: "chamber_votes"
  