%h1.page-header
  Tablas

%table.table.table-striped
  %tr
    %th='Cámara'
    %th='Fecha'
    %th='Proyectos de ley'
  
  - @tables.tables.each do |table|
    %tr
      %td= table.origin_chamber
      %td= table.creation_date
      %td
        - table.bills.each do |bill|
          = link_to bill, bill_path(bill)
  