%h1.page-header
  Tablas

%table.table.table-striped
  %tr
    %th='Cámara'
    %th='Fecha'
    %th='Proyectos de ley'
  
  - @agendas.each do |agenda|
    %tr
      %td= agenda['chamber']
      %td= agenda['date']
      %td
        - JSON.parse(agenda['bill_list']).each do |bill|
          = link_to bill, bill_path(bill)
  