%div.page-header
  %h3 Declaraciones

%section#disclosure-top
  %div.row
    %div.col-md-6
      %div.row
        %div.col-md-4
          %img.img-responsive{:src=>'http://placehold.it/200x200'}
          %div
            %i.fa.fa-youtube-play.fa-2x{:title=>'Ver declaración'}
            
        %div.col-md-8
          %blockquote
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, soluta, minus tenetur quos magni eaque vero pariatur unde dolores sunt illum voluptate molestiae harum consequatur qui aperiam itaque architecto recusandae.
            %small
              García Huidobro Sanfuentes, Alejandro
      

    %div.col-md-6
      %div.row
        %div.col-md-4
          %img.img-responsive{:src=>'http://placehold.it/200x200'}
          %div
            %i.fa.fa-twitter-square.fa-2x{:title=>'Leer declaración'}
            
        %div.col-md-8
          %blockquote
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, soluta, minus tenetur quos magni eaque vero pariatur unde dolores sunt illum voluptate molestiae harum consequatur qui aperiam itaque architecto recusandae.
            %small
              Ruiz-Esquide Jara, Mariano
      

%section#disclosure-all
  %div.page-header
    %h4
      Otras declaraciones
  %div.row
    %div.col-md-4
      %div.row
        %div.col-md-4
          %img.img-responsive{:src=>'http://placehold.it/100x100'}
          %div
            %i.fa.fa-youtube-play{:title=>'Ver declaración'}
            
        %div.col-md-8
          %blockquote
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, totam, quos eius accusamus itaque quae fugiat ut assumenda earum officia illo hic numquam nemo aspernatur magnam.
            %small
              Pérez San Martín, Lily
      
    %div.col-md-4
      %div.row
        %div.col-md-4
          %img.img-responsive{:src=>'http://placehold.it/100x100'}
          %div
            %i.fa.fa-twitter-square{:title=>'Leer declaración'}
            
        %div.col-md-8
          %blockquote
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, totam, quos eius accusamus itaque quae fugiat ut assumenda earum officia illo hic numquam nemo aspernatur magnam.
            %small
              Letelier Morel, Juan Pablo
      
    %div.col-md-4
      %div.row
        %div.col-md-4
          %img.img-responsive{:src=>'http://placehold.it/100x100'}
          %div
            %i.fa.fa-youtube-play{:title=>'Ver declaración'}
            
        %div.col-md-8
          %blockquote
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, totam, quos eius accusamus itaque quae fugiat ut assumenda earum officia illo hic numquam nemo aspernatur magnam.
            %small
              Larraín Fernández, Hernán
      


