%h2
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum, officiis, reiciendis, asperiores deserunt qui nulla

%div.jumbotron{:style => "font-size: 14px;"}
  = form_tag(t('routes.searches'), :method => 'get', :class => "form-inline") do
    %div.row
      %div.col-md-10
        %input.form-control{:type => "text", :name => 'q', :placeholder => t("main.search_placeholder")}
      %button{:type => "submit", :class => "btn btn-primary"}
        =t("search.search")
    %div.checkbox{:style => "padding-top: 7px;"}
      %label{:style => "padding-right: 7px;"}
        %input{:type => 'checkbox'}
          Proyectos de ley
      %label
        %input{:type => 'checkbox'}
          Parlamentarios

%div{:style=>'background-color:#ccc; padding: 10px; margin-bottom:30px;'}
  %h3
    Temas Urgentes

  %div
    %ul.list-inline
      %li
        %button.btn.btn-default{'href'=>'#miModal', :'data-toggle'=>"modal", :'data-target'=>'#miModal'}
          Educación
      %li
        %button.btn.btn-default
          Salud
      %li
        %button.btn.btn-default
          Pesca
      %li
        %button.btn.btn-default
          Vivienda
      %li
        %button.btn.btn-default
          Transporte
    
    %div.modal.fade#miModal{:tabindex=>'-1', :role=>'dialog', :'aria-labelledby'=>'myModalLabel', :'aria-hidden'=>'true'}
      %div.modal-dialog
        %div.modal-content
          %div.modal-header
            %button.close{:type=>"button", :'data-dismiss'=>"modal", :'aria-hidden'=>"true"}
              &times
            %h4.modal-title#myModalLabel
              Proyectos urgentes en educación
          %div.modal-body
            %table.table.table-striped
              %thead
                %tr
                  %th
                    %span.sr-only
                      Proyectos urgentes en educación
                  %th
                    %span.sr-only
                      Urgencia
                  %th
                    %span.sr-only
                      Suscripción alertas
                    
              %tbody
                %tr
                  %td
                    %strong
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    %p
                      Cupiditate, minima nobis laboriosam aliquam voluptates sed nesciunt sint eos quam voluptas! Voluptatem, laudantium natus veniam aut commodi reprehenderit quasi odit ea!
                  %td
                    %span.badge
                      4 
                    urgencias
                  %td
                    %i.fa.fa-bell
                    suscribete
                %tr
                  %td
                    %strong 
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    %p
                      Cupiditate, minima nobis laboriosam aliquam voluptates sed nesciunt sint eos quam voluptas! Voluptatem, laudantium natus veniam aut commodi reprehenderit quasi odit ea!
                  %td
                    %span.badge
                      4 
                    urgencias
                  %td
                    %i.fa.fa-bell
                    suscribete

          %div.modal-footer
            %p
              Footer

%div.row
  %div.col-md-6
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{:colspan=>"2"}
            Tabla diputados
      %tbody
        %tr
          %td
            %strong
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            %p
              Cupiditate, minima nobis laboriosam aliquam voluptates sed nesciunt sint eos quam voluptas! Voluptatem, laudantium natus veniam aut commodi reprehenderit quasi odit ea!
          %td
            %i.fa.fa-bell
            suscribete
        %tr
          %td
            %strong
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            %p
              Cupiditate, minima nobis laboriosam aliquam voluptates sed nesciunt sint eos quam voluptas! Voluptatem, laudantium natus veniam aut commodi reprehenderit quasi odit ea!
          %td
            %i.fa.fa-bell
            suscribete
        %tr
          %td
            %strong
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            %p
              Cupiditate, minima nobis laboriosam aliquam voluptates sed nesciunt sint eos quam voluptas! Voluptatem, laudantium natus veniam aut commodi reprehenderit quasi odit ea!
          %td
            %i.fa.fa-bell
            suscribete
        %tr
          %td
            %strong
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            %p
              Cupiditate, minima nobis laboriosam aliquam voluptates sed nesciunt sint eos quam voluptas! Voluptatem, laudantium natus veniam aut commodi reprehenderit quasi odit ea!
          %td
            %i.fa.fa-bell
            suscribete

  %div.col-md-6
    %table.table.table-striped.table-bordered
      %thead
        %tr
          %th{:colspan=>"2"}
            Tabla Senado
      %tbody
        %tr
          %td
            %strong
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            %p
              Cupiditate, minima nobis laboriosam aliquam voluptates sed nesciunt sint eos quam voluptas! Voluptatem, laudantium natus veniam aut commodi reprehenderit quasi odit ea!
          %td
            %i.fa.fa-bell
            suscribete
        %tr
          %td
            %strong
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            %p
              Cupiditate, minima nobis laboriosam aliquam voluptates sed nesciunt sint eos quam voluptas! Voluptatem, laudantium natus veniam aut commodi reprehenderit quasi odit ea!
          %td
            %i.fa.fa-bell
            suscribete
        %tr
          %td
            %strong
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            %p
              Cupiditate, minima nobis laboriosam aliquam voluptates sed nesciunt sint eos quam voluptas! Voluptatem, laudantium natus veniam aut commodi reprehenderit quasi odit ea!
          %td
            %i.fa.fa-bell
            suscribete
        %tr
          %td
            %strong
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
            %p
              Cupiditate, minima nobis laboriosam aliquam voluptates sed nesciunt sint eos quam voluptas! Voluptatem, laudantium natus veniam aut commodi reprehenderit quasi odit ea!
          %td
            %i.fa.fa-bell
            suscribete  

%div.row
  %div.col-md-2
    %img.img-responsive{:src=>'http://placedog.com/200/200'}
  %div.col-md-10
    %div
      %blockquote
        %p
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, porro, architecto totam incidunt alias animi recusandae ipsam illum omnis sunt voluptatem exercitationem quasi quae doloribus aliquid! Dolorum, rerum quaerat dolor!
        %small
          Perico los Palotes
    %div.text-right
      %button.btn.btn-default
        Ver más respuestas
