- @parliamentarians.persons.first(3).each do | parliamentarian |
  %div.row
    %div.col-md-1
      - if !parliamentarian.images[0].nil?
        %img.img-circle.img-responsive{:src=>parliamentarian.images[0]['url']}
    %div.col-md-11
      %h4
        = link_to parliamentarian.name, parliamentarian_path(parliamentarian.id)
  
%div.text-right
  %button.btn.btn-primary
    Ver más