
%div.row
  %div.col-md-1
    %i.fa.fa-bookmark.fa-5x
  %div.col-md-11
    %h4
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, minima, quibusdam, harum omnis molestias ipsa iure laudantium atque aliquam.
      %i.fa.fa-bell
    %p 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolorem, labore sit quidem esse excepturi corporis possimus laborum ipsum error! Eligendi ab aliquid adipisci minima tenetur sint assumenda nesciunt officia.
  
%div.row  
  %div.col-md-1{:style => 'border-top: 1px solid #ccc;' }
    %i.fa.fa-bookmark-o.fa-5x
  %div.col-md-11{:style => 'border-top: 1px solid #ccc;' }
    %h4
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, minima, quibusdam, harum omnis molestias ipsa iure laudantium atque aliquam.
      %i.fa.fa-bell
    %p 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolorem, labore sit quidem esse excepturi corporis possimus laborum ipsum error! Eligendi ab aliquid adipisci minima tenetur sint assumenda nesciunt officia.

/respuestas de writeit
%div.row
  %div.col-md-1{:style => 'border-top: 1px solid #ccc;' }
    %i.fa.fa-bookmark.fa-5x
  %div.col-md-11{:style => 'border-top: 1px solid #ccc;' }
    %h4
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, minima, quibusdam, harum omnis molestias ipsa iure laudantium atque aliquam.
      %i.fa.fa-bell
    %p 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolorem, labore sit quidem esse excepturi corporis possimus laborum ipsum error! Eligendi ab aliquid adipisci minima tenetur sint assumenda nesciunt officia.
%div.text-right
  %button.btn.btn-primary
    Ver más