
%div.row
  %div.col-md-12
    %h4
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, minima, quibusdam, harum omnis molestias ipsa iure laudantium atque aliquam.
      
    %p 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolorem, labore sit quidem esse excepturi corporis possimus laborum ipsum error! Eligendi ab aliquid adipisci minima tenetur sint assumenda nesciunt officia.
  
%div.row  
  %div.col-md-12{:style => 'border-top: 1px solid #ccc;' }
    %h4
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, minima, quibusdam, harum omnis molestias ipsa iure laudantium atque aliquam.
      
    %p 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolorem, labore sit quidem esse excepturi corporis possimus laborum ipsum error! Eligendi ab aliquid adipisci minima tenetur sint assumenda nesciunt officia.

/respuestas de writeit
%div.row
  %div.col-md-12{:style => 'border-top: 1px solid #ccc;' }
    %h4
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, minima, quibusdam, harum omnis molestias ipsa iure laudantium atque aliquam.
      
    %p 
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, dolorem, labore sit quidem esse excepturi corporis possimus laborum ipsum error! Eligendi ab aliquid adipisci minima tenetur sint assumenda nesciunt officia.

%div.text-right
  %button.btn.btn-primary
    Ver más