= form_tag({controller: "searches", action: "index"}, :method => 'get') do
  %div
    %div.input-group
      %input.form-control{:name=>'q', value: params[:q], :placeholder => t('search.placeholder_search_for'), :onfocus => "ga('send','searches','focus_search')"}
      %span.input-group-addon
        %i.fa.fa-search
    
    %div
      %div.checkbox{:style=>'padding-right:15px'}
        %label
          - if params[:bills] == '1'
            %input{type: "checkbox", name: 'bills', value: '1', checked: 'checked'}
          - else
            %input{type: "checkbox", name: 'bills', value: '1'}
          Proyectos de ley
      %div.checkbox{:style=>'padding-right:15px'}
        %label
          - if params[:parliamentarians] == '2'
            %input{type: "checkbox", name: "parliamentarians", value: '2', checked: 'checked'}
          - else
            %input{type: "checkbox", name: "parliamentarians", value: '2'}
          Parlamentarios
    %button.btn.btn-default
      Buscar
