%div.container
  = render :partial => "simple_search_form"

  %div.row
    %div.col-md-4
      = render :partial => "filter_search_form"
    %div.col-md-8
      - @bills = @bills_query.bills
      = render :partial => "box_bills_result" 