- @parliamentarians.persons.each do |parliamentarian|
  %div.row
    %div.col-md-1
      %img.img-circle.img-responsive{:src=>parliamentarian.images[0]['url']}
    %div.col-md-11
      %div.row
        %div.col-md-9
          %h4
            = link_to parliamentarian.name, parliamentarian_path(parliamentarian.slug)
        %div.col-md-3
          %a{'href'=>'#'}
            %i.fa.fa-pencil
            99999
      %p
        %strong
          Partido:
        El Partido
        %strong
          Lugar que representa:
        Región patito

- if @parliamentarians.persons.count == 0
  %p.text-center
    = t('search.there_are_no_results')