%div
  = form_tag(t('routes.searches'), :method => 'get') do
    %div.form-group
      = label_tag :q, t('search.search_for')
      = text_field_tag :q, params[:q], :class => 'form-control', :placeholder => t('search.placeholder_search_for'), :onfocus => "ga('send','parliamentarians','focus_search')"
    %input{'type'=>'hidden', 'name'=>'parliamentarians', 'value'=>2}