%div.row
  %div.col-md-1
    %i.fa.fa-calendar-o.fa-4x
  %div.col-md-11
    %ul{:style=>'list-style:none;padding-left:0px;'}
      %li
        %i.fa.fa-quote-left
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula 
        %i.fa.fa-quote-right
        %a{:href=>'#'}
          Ver
      %li
        %i.fa.fa-quote-left
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula 
        %i.fa.fa-quote-right
        %a{:href=>'#'}
          Ver 
          
%div.row{:style=>'padding: 20px 0px;'}
  %div.col-md-1
    %i.fa.fa-calendar-o.fa-4x
  %div.col-md-11
    %ul{:style=>'list-style:none;padding-left:0px;'}
      %li
        %i.fa.fa-quote-left
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula 
        %i.fa.fa-quote-right
        %a{:href=>'#'}
          Ver
      %li
        %i.fa.fa-quote-left
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula 
        %i.fa.fa-quote-right
        %a{:href=>'#'}
          Ver 

%div.row
  %div.col-md-1
    %i.fa.fa-calendar-o.fa-4x
  %div.col-md-11
    %ul{:style=>'list-style:none;padding-left:0px;'}
      %li
        %i.fa.fa-quote-left
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula 
        %i.fa.fa-quote-right
        %a{:href=>'#'}
          Ver
      %li
        %i.fa.fa-quote-left
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula 
        %i.fa.fa-quote-right
        %a{:href=>'#'}
          Ver