%div.page-header
  %h2
    Parlamentarios

%section#parliamentarian-list
  %div.table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th
          %th
            Nombre
          %th
            Datos
      %tbody
        - @parliamentarians.persons.each do |parliamentarian|
          %tr
            %td
              %img.img-responsive{:src=>parliamentarian.images[0]['url']}
            %td
              %p
                %a{:href=>parliamentarian.popit_web_url}
                  =parliamentarian.name
                = link_to parliamentarian.name, parliamentarian.id
            %td
              
        %tr

  