%div.page-header
  %h2
    Parlamentarios

%section#parliamentarian-list
  %div.table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th
          %th
            Nombre
          
      %tbody
        - @parliamentarians.persons.each do |parliamentarian|
          %tr
            %td
              %img.img-responsive{:src=>parliamentarian.images[0]['url']}
            %td
              = link_to parliamentarian.name, parliamentarian_path(parliamentarian.slug)
  