%div
  %ol.breadcrumb
    %li
      %a{'href'=>'#'}
        Portada
    %li.active
      Resultado Parlamentarios

%div.row
  %div.col-md-3
    %h4
      Parlamentarios
    = render :partial => "filter_search_form"

  %div.col-md-9
    = render :partial => "box_parliamentarians_result" 