%div.row
  %div.col-md-3
    %img.img-responsive{:src=>'http://placedog.com/300/300'}
    
  %div.col-md-9
    %h2
      Perico los Palotes
    %h3
      Diputado
    %table.table.table-striped
      %thead
      %tbody
        %tr
          %td{:width=>'20%'}
            Lugar que representa:
          %td
            Región Metropolitana
        %tr
          %td
            Periodo:
          %td
            1980 - 2013
        %tr
          %td
            Partido:
          %td
            Partido por la mitad
        %tr
          %td
            Comisión:
          %td
            Regular
        %tr
          %td
            Links:
          %td
            %ul
              %li
                %i.fa.fa-globe
                Sitio web
              %li
                %i.fa.fa-facebook
                Facebook
              %li
                %i.fa.fa-twitter
                Twitter

%div.row
  %div.col-md-3
    %div{:style=>'border:1px solid #ccc; padding:10px; margin-top:20px;'}
      %ul{:style=>'list-style:none;'}
        %li
          %i.fa.fa-bell
          Suscríbete
        %li
          %i.fa.fa-envelope
          Escríbele
  %div.col-md-9  
    %div{:style=>'border:1px solid #ccc; padding:10px; margin-top:20px;'}
      %blockquote
        %p
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec. 
          %small.text-right
            Ha respondido 6 de las 28 preguntas.        
