%div.row
  %div.col-md-7
    %ul.breadcrumb
      %li
        %a{'href'=>'#'}
          Parlamentarios
      %li.active
        Pedro Pablo Alvarez-Salamanca Ramirez
  %div.col-md-5
    %ul.list-inline
      %li
        %i.fa.fa-star-o 
        9999 Suscripciones
      %li
        %i.fa.fa-pencil 
        9999 Preguntas
      %li
        %i.fa.fa-facebook 
        Comparte
      %li
        %i.fa.fa-twitter 
        Twittea

%div
  %h2
    = @parliamentarian.name
  %h4
    Senador
  
%div.row
  %div.col-md-3
    %img{ 'src' => 'http://placehold.it/230x230'}
    %p
      Lugar que representa: Región Metropolitana
    %p
      Periodo: 2000 - 2004 Senador, 2010 - 2014 Diputado
    %p
      Partido:
      %a{ 'href' => 'http://www.google.cl' }
        Partido Independiente Popular Latinoamericano
        %i.fa.fa-external-link
    %p
      Comisión: Educación
    %div
      %ul
        %li
          %a{ 'href' => 'http://www.google.cl' }
            %i.fa.fa-globe
            Sitio Web
        %li
          %a{ 'href' => 'http://www.linkedin.com' }
            %i.fa.fa-linkedin-square
            CV
        %li
          %a{ 'href' => 'http://www.facebook.com' }
            %i.fa.fa-facebook-square
            Facebook
        %li
          %a{ 'href' => 'http://www.twitter.com' }
            %i.fa.fa-twitter-square
            Twitter
      
    %h5
      Biografía
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus ab ut aperiam quae fuga! Dolorum, ex, quos veniam culpa qui explicabo non ullam exercitationem inventore tempora adipisci doloremque facere nisi.
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, saepe repellendus officiis nulla dicta qui quas sit placeat distinctio. Dignissimos, fuga expedita sint placeat harum vel atque at reiciendis. Consequatur!
    %p
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, exercitationem maxime labore recusandae ut magni quisquam quae quo necessitatibus rerum tempora autem voluptatem molestiae vel rem ad quas eligendi fugit.

  %div.col-md-9
    %h3
      Últimas Iniciativas
    %div.table-responsive
      %table.table
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %h5
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, hic velit repudiandae modi ab provident quibusdam laudantium maxime deserunt asperiores debitis ducimus alias placeat accusamus sit sapiente in eos delectus.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, placeat, quos, ab eius maxime voluptatibus iure sit ipsam expedita eveniet atque quo voluptas modi eligendi tempore harum aperiam excepturi non.
            %p
              %a{ 'href' => '#' }
                Ver Proyecto
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %h5
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, hic velit repudiandae modi ab provident quibusdam laudantium maxime deserunt asperiores debitis ducimus alias placeat accusamus sit sapiente in eos delectus.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, placeat, quos, ab eius maxime voluptatibus iure sit ipsam expedita eveniet atque quo voluptas modi eligendi tempore harum aperiam excepturi non.
            %p
              %a{ 'href' => '#' }
                Ver Proyecto
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %h5
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, hic velit repudiandae modi ab provident quibusdam laudantium maxime deserunt asperiores debitis ducimus alias placeat accusamus sit sapiente in eos delectus.
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, placeat, quos, ab eius maxime voluptatibus iure sit ipsam expedita eveniet atque quo voluptas modi eligendi tempore harum aperiam excepturi non.
            %p
              %a{ 'href' => '#' }
                Ver Proyecto
    
    %div.special-box
      %p.question
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, perspiciatis, consequatur non inventore adipisci placeat deleniti animi tempora accusantium ipsa incidunt doloremque ducimus quos dolores minus doloribus debitis. Necessitatibus, impedit.
      %p.answer
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, temporibus, veniam, modi, facere laudantium aliquam facilis officiis aperiam delectus eum sapiente natus harum ut unde quisquam repellat magni expedita sunt.
      %p.total-answers.text-right
        Pedro Pablo Alvarez-Salamanca Ramirez ha respondido 999 de las 999 preguntas ciudadanas

    %div.votes.table-responsive
      %h3
        Votaciones
      %table.table
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                A FAVOR
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                A FAVOR
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.

    %div.intervencions.table-responsive
      %h3
        Últimas Intervenciones
      %table.table
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                SESIÓN 84
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                SESIÓN 84
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.
        %tr
          %td
            %img{ 'src' => 'http://placehold.it/35x58' }
          %td
            %p
              %strong
                SESIÓN 84
              %span.date
                24 de Octubre, 2013
            %p
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, reiciendis sunt maiores laudantium eos facere vero. Possimus, odio, nesciunt, facilis, est nostrum temporibus tempora repellendus perferendis enim quisquam voluptatibus vitae.