%div.row
  %div.col-md-3
    %div{:style=>'margin-top:25px;'}
    %img.img-responsive{:src=>'http://placedog.com/300/300'}
    
  %div.col-md-9
    %h2
      Perico los Palotes
    %h4
      Diputado
    %table.table.table-striped.table-bordered.table-condensed
      %thead
      %tbody
        %tr
          %td{:width=>'20%'}
            Lugar que representa:
          %td
            Región Metropolitana
        %tr
          %td
            Periodo:
          %td
            1980 - 2013
        %tr
          %td
            Partido:
          %td
            Partido por la mitad
        %tr
          %td
            Comisión:
          %td
            Regular
        %tr
          %td
            Links:
          %td
            %ul{:style=>'list-style:none;padding-left:5px;'}
              %li
                %i.fa.fa-globe
                Sitio web
              %li
                %i.fa.fa-facebook
                Facebook
              %li
                %i.fa.fa-twitter
                Twitter

%div.row
  %div.col-md-3
    %div{:style=>'border:1px solid #ccc; padding:10px; margin-top:20px;'}
      %ul{:style=>'list-style:none;'}
        %li
          %i.fa.fa-bell
          Suscríbete
        %li
          %i.fa.fa-envelope
          Escríbele
  %div.col-md-9  
    %div{:style=>'border:1px solid #ccc; padding:10px; margin-top:20px;'}
      %blockquote
        %p
          %i.fa.fa-quote-left
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec. 
          %i.fa.fa-quote-right
          %small.text-right
            Ha respondido 6 de las 28 preguntas. 

%div
  %h3.page-header
    Iniciativas más recientes
  = render :partial=> "initiatives"
  %div.text-right
    %button.btn.btn-default.btn-xs
      Ver todas las iniciativas

%div
  %h3.page-header
    Porcentajes de Votaciones
  %div.row
    %div.col-md-6.jumbotron{:style=>'padding:15px;'}
      %p{:style=>'font-size:40px;font-weight: bold;'}
        22%
      %p
        Asistencia
    %div.col-md-6.jumbotron{:style=>'background-color:grey; padding:15px;'}
      %p{:style=>'font-size:40px;font-weight: bold;color:white;'}
        60%
      %p{:style=>'color:white;'}
        Concordancia con el partido

%div
  %h3.page-header
    Votaciones más recientes
  = render :partial=> "votes"
  %div.text-right{:style=>'padding-top:15px;'}
    %button.btn.btn-default.btn-xs
      Ver historial de votaciones

%div
  %h3.page-header
    Últimas Intervenciones
  

  = render :partial=> "recent_interventions"
  %div.text-right{:style=>'padding-top:15px;'}
    %button.btn.btn-default.btn-xs
      Ver todas



