%div.page-header
  %h2
    Parlamentarios

%section#parliamentary-list
  %div.table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th
          %th
            Nombre
          %th
            Datos
      %tbody
        %tr
          %td
            %img.img-responsive{:src=>'http://placehold.it/100x100'}
          %td
            %p
              Allende Bussi, Isabel
          %td
            %p
              %strong
                Región: 
              Región de Atacama - 
              %strong
                Circunscripción: 
              3
            %p
              %strong
                Teléfono: 
              (56-32) 2504671 -
              %strong
                Email:
              iallende@senado.cl
        %tr
          %td
            %img.img-responsive{:src=>'http://placehold.it/100x100'}
          %td
            %p
              Alvear Valenzuela, Soledad
          %td
            %p
              %strong
                Región: 
              Región Metropolitana - 
              %strong
                Circunscripción: 
              8
            %p
              %strong
                Teléfono: 
              (56-32) 2504561 -
              %strong
                Email:
              salvear@senado.cl
        %tr
          %td
            %img.img-responsive{:src=>'http://placehold.it/100x100'}
          %td
            %p
              Bianchi Chelech, Carlos
          %td
            %p
              %strong
                Región: 
              Región de Magallanes y la Antártica Chilena - 
              %strong
                Circunscripción: 
              19
            %p
              %strong
                Teléfono: 
              (56-32) 2504566 -
              %strong
                Email:
              cbianchi@senado.cl