/* Place all the styles related to the Main controller here.
 * They will automatically be included in application.css.
 * You can use Sass (SCSS) here: http://sass-lang.com */


/* General */

body {
  background-color: #f9f9eb;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #67675a;
  margin-bottom: 70px;
  margin-top: 80px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-inverse {
  background-color: #2f172f;
  border-color: transparent;
}

.navbar-toggle .text-bar {
  font-size: 10px;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

h5 {
  margin: 3px 0;
}

a {
  color: #f4a458;
}

a:hover {
  color: #dd8740;
}

a:visited {
  color: #ce7a3c;
}

a.btn:visited {
  color: #e6e6c9;
}

.light {
  color: #a6a691;
}

strong {
  font-weight: 700;
}

.small {
  font-size: 80%;
}

.txt-red {
  color: #ea6a56;
}

.txt-green {
  color: #3db091;
}

.col-md-1.side {
  margin-top: 10px;
}

input {
  font-family: 'lato', sans-serif;
}

.center {
  text-align: center}
.tab-content{
  padding-top: 10px}
.search_separator{
  border-left: 1px solid #ccc}


/* Buttons */

.btn {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'Raleway', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a.btn:visited {
  color: #e6e6c9;
}

.btn-xs {
  height: 25px;
  padding: 2px 4px 4px;
  font-size: 12px;
  text-transform: none;
  font-weight: 400;
  font-family: 'Lato', Helvetica, sans-serif;
}


.btn-sm {
  height: 50px;
}

.btn-lg {
  text-transform: uppercase;
  font-family: 'Raleway', Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  padding: 7px 10px;
}

.btn-default {
  color: #e6e6c9;
  background-color: #a6a691;
  border-color: transparent;
  border-bottom: 2px solid #7c7c6d;
  border-radius: 0px;
}

.btn-default:hover {
  color: #e6e6c9;
  background-color: #91907d;
}

.btn-info {
  color: #a6a691;
  background-color: #f5f5dd;
  border-color: transparent;
  border-bottom: 2px solid #d8d7bc;
  border-radius: 0px;
}

.btn-info:hover {
  color: #a6a691;
  background-color: #e6e6c9;
}

.btn-primary, .btn-success {
  color: #e6e6c9;
  background-color: #3db091;
  border-color: transparent;
  border-bottom: 2px solid #1e8466;
  border-radius: 0px;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-success:hover, .btn-success:active, .btn-success:focus {
  color: #e6e6c9;
  background-color: #2f9b7c;
}

.btn-warning {
  color: #e6e6c9;
  background-color: #f4a458;
  border-color: transparent;
  border-bottom: 2px solid #ce7a3c;
  border-radius: 0px;
}

.btn-warning:hover {
  color: #e6e6c9;
  background-color: #e08d48;
}

.btn-danger {
  color: #e6e6c9;
  background-color: #ea6a56;
  border-color: transparent;
  border-bottom: 2px solid #bc3628;
  border-radius: 0px;
  height: 50px;
}

.btn-danger:hover {
  color: #e6e6c9;
  background-color: #d65245;
}

.inline-action {
  text-align: right;
  display: inline-flex;
}

.action-btn>li a {
  padding: 2px 5px;
  text-decoration: none;
}

.action-btn.list-inline>li {
  padding: 0px 1px;
}

.btn .fa-search {
  padding: 0 5px;
}


/* Clearfix */

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clearfix {
  *zoom: 1;
}


/* Alerts */

.alert-info, .alert-success {
  background-color: #CEEAE2;
  border-color: #8EDDC5;
  color: #3DB091;
}

.alert-warning {
  background-color: #FFEDE3;
  border-color: #FFD4B0;
  color: #F4A458;
}

.alert-danger {
  background-color: #FFE2E1;
  border-color: #FFC0BB;
  color: #EA6A56;
}


/* Labels */

label {
  display: inline-block;
  margin-bottom: 5px;
  font-weight: 400;
  color: #A6A691;
}

.label {
  color: #F5F5DD;
}

.label-default {
  background-color: #CACAA6;
  position: relative;
  border-radius: 0px 2px 2px 0px;
  color: #575741;
  font-family: 'Raleway', Helvetica, sans-serif;
  text-transform: uppercase;
  padding: .4em .7em .3em;
  font-size: 10px;
  font-weight: 700;
  margin-right: 9px;
}

.label-default:before {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #CACAA6;
  border-width: 11px;
  margin-top: -11px;
}

.label-default:after{
  content: "";
  position: absolute;
  top: 9px;
  left: -3px;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #EEEECA;
}

.hero-space-bill .label-default:after {
  background: #462445;
}

.hero-space .label-default:after{
  background:#3e1f3e;
}

.list-inline>li.label-default:first-child {
  padding-left: 6px;
}

.list-inline>li {
  padding-left: 0px;
}

.label-danger {
  background-color: #ea6a56;
}

/* Menu */

#site-logo {
  padding: 10px 0;
}

#site-logo #defci {
  text-align: center;
  color: #B99EAF;
}

#beta {
  background: #B9B9A7;
  color: #2f172f;
  font-size: 10px;
  padding: 0px 2px;
}

.navbar-nav {
  float: right;
}

.nav a {
  color: #b2a5b2;
  text-decoration: none;
}

.nav a:hover {
  color: #c4b7c4;
}

.navbar-inverse .navbar-nav>li>a {
  color: #B99EAF;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #E6E6C9;
}

.breadcrumb {
  padding: 0px 0px;
  background-color: transparent;
}

.breadcrumb a {
  color: #a6a691;
}

.breadcrumb>.active {
  color: #a6a691;
}

.breadcrumb>li+li:before {
  color: #a6a691;
}


/*Hero space*/

.hero-space {
  background: #462445;
  color: #e6e6c9;
  padding: 10px 0px;
  margin-top: -20px;
}

#graph > h4 > a {
  font-weight: 400;
  font-size: 14px;
  text-transform: initial;
  font-family: 'Lato';
}


/* Forms */

/* Form aside */

.aside .form-control::-webkit-input-placeholder { /* WebKit browsers */
  font-family: 'Lato', sans-serif;
  color: #A6A691;
  -webkit-font-smoothing: antialiased;
}
.aside .form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  font-family: 'Lato', sans-serif;
  color: #A6A691;
  -webkit-font-smoothing: antialiased;
}
.aside .form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  font-family: 'Lato', sans-serif;
  color: #A6A691;
  -webkit-font-smoothing: antialiased;
}

.aside .form-control:-ms-input-placeholder { /* Internet Explorer 10+ */
  font-family: 'Lato', sans-serif;
  color: #A6A691;
  -webkit-font-smoothing: antialiased;
}
.aside .form-control {
  font-family: 'Lato', sans-serif;
  color: #67675A;
  -webkit-font-smoothing: antialiased;
}

.aside .chosen-container-single .chosen-single {
  padding: 12px 0 0 8px;
  height: 50px;
  border-bottom: 2px solid #D8D7BC;
  background: #F9F9EB;
  box-shadow: none;
  color: #67675A;
  border-radius: 2px;
  border-top: none;
  border-right: none;
  border-left: none;
}

.aside .chosen-container-single .chosen-single:hover {
  background: #F5F5DD;
}

.aside .chosen-container-single.chosen-with-drop .chosen-single {
  border-radius: 2px;
  border-top: none;
  border-right: none;
  border-left: none;
  background: #F9F9EB;
}

.aside .chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -16px 15px;
}

.aside .chosen-container-single .chosen-single div b {
  background-position: 2px 15px;
}

.aside .chosen-container .chosen-drop {
  background-color: #F5F5DD;
  border: none;
}

.aside .chosen-container .chosen-results li.no-results {
  background-color: #F5F5DD!important;
}

.aside .chosen-container .chosen-results li.highlighted {
  background: #3DB091;
}

.aside .chosen-container-multi .chosen-choices li.search-field input[type=text] {
  height: 25px;
}


/* Home */

.hero-space h4 {
  text-transform: uppercase;
}

.social-network {
  margin-top: -19px;
  margin-bottom: -19px;
  text-align: center;
}

.social-network .fa-inverse {
  color: #e6e6c9;
}

.social-network a {
  color: #2f172f;
}

.social-network .fa-inverse:hover {
  color: #2f172f;
}

.social-network a:hover {
  color: #e6e6c9;
}


/* Hot space */

.hot-space {
  background: #ea6a56;
  padding: 30px 0px 40px;
  margin-bottom: 20px;
}

.hot-space p {
  line-height: 16px;
}

.hidden-xs.subscription {
    float: right;
    margin-top: -26px;
}

.hot-space a {
  color: #ea6a56;
}

.hot-space h3 {
  color: #E6E6C9;
}

.boxdisplay {
  background: #F5F5DD;
  padding: 15px;
}

.hot-space .fa-bell-o {
  animation: urgency 2s infinite;
  -webkit-animation: urgency 2s infinite; /* Safari and Chrome */
}

@keyframes urgency {
  0%   {color: #EA6A56;}
  50%  {color: #E6E6C9;}
  100% {color: #EA6A56;}
}

@-webkit-keyframes urgency { /* Safari and Chrome */
  0%   {color: #EA6A56;}
  50%  {color: #E6E6C9;}
  100% {color: #EA6A56;}
}

/* Tables in agenda */

.table.tablas {
  margin-top: 20px;
  margin-bottom: 50px;
}

.table.tablas tbody {
  display: block;
  max-height: 350px;
  overflow-y: scroll;
  border-bottom: 9px solid #67675a;
  height: 350px;
  background: #f5f5dd;
}

.tituloTablaResumen{
  margin-bottom: 15px;
}

.camaraTabla{
  width: 20%;
}

.fechaTabla{
  width: 20%;
}
.agendaTabla {
  width: 60%;
}

.fechaTituloTabla {
  margin-bottom: 20px;
}

.tablaResumen {
  margin-bottom: 40px !important;
}

.separadorBoletines{
  font-weight: 900;
  margin-right: 2px;
  margin-left: 2px;
}


/* Answers */

.home-answers-wraper {
  position: relative;
}

.home-answers-wraper .home-answers {
  background: #e6e6c9;
  padding: 15px;
  border-right: 50px solid #cdcdb3;
}

.home-answers img {
  max-width: 60px;
  border-radius: 30px;
}

.home-answers-wraper .fa-quote-right {
  position: absolute;
  top: 15px;
  right: 27px;
  color: #e6e6c9;
}


/* Others */

.panel-senator {
  margin: 0 auto;
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
}

.panel-senator .front {
  position: absolute;
  top: 0;
  z-index: 900;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.panel-senator.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.panel-senator .back {
  position: absolute;
  top: 0;
  z-index: 800;
  -webkit-transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;

  -moz-transform: rotateY(-180deg);
  -moz-transform-style: preserve-3d;
  -moz-backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.panel-senator.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
}

.infograph {
  position: relative;
  top: -60px;
  z-index: -1;
}

img.chamber {
  z-index: 2;
  position: absolute;
}

span.positive {
  width: 55px;
  background-color: green;
  height: 55px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.3;
  border-radius: 25px;
}

span.against {
  width: 55px;
  background-color: red;
  height: 55px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.3;
  border-radius: 25px;
}

span.abstention {
  width: 55px;
  background-color: #5bc0de;
  height: 55px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.3;
  border-radius: 25px;
}

span.ausent {
  width: 55px;
  background-color: #f0ad4e;
  height: 55px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.3;
  border-radius: 25px;
}

span.paring {
  width: 55px;
  background-color: #428bca;
  height: 55px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.3;
  border-radius: 25px;
}


/* Search results */

.whitewithaside {
  background: #fff;
  padding: 20px;
}

.aside {
  background: #E6E6C9;
  padding: 20px;
}

.aside.aside-congressman {
  background: #E6E6C9;
}

.aside .checkbox {
   padding-left: 0px; 
}

.aside .checkbox input[type="checkbox"] {
  float: none;
  margin-left: 0px;
}

h4 span.nostyle {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-transform: none;
}

.result {
  margin-top: 25px;
}


/* Footer */

#footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 70px;*/
  background: #462445;
  color: #A6A691;
  /*padding: 30px 0;
  margin-top: 60px;*/
  
  padding-top: 45px;
  margin-top: 100px;
}

#footer a {
  color: #A6A691;
}

#footer ul {
  list-style: none;
}

/* Agendas in home */

.table th {
  background: #67675a;
  color: #e6e6c9;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #e6e6c9;
  color: #67675a;
}


/* Screen */

@media (min-width: 768px) {
  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 21px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  h5 {
    font-size: 14px;
    line-height: 1.2;
  }

  h6 {
    font-size: 10px;
  }
  .hero-space {
    padding: 60px 0px;
  }
  #graph {
    padding: 40px 0px;
  }
  .form-control {
    height: 50px;

  }
}

@media (min-width: 768px) {
  .modal-lg {
    width: 700px;
  }
  #site-logo #defci {
    text-align: right;
  }
  .hero-space-bill {
    padding: 20px 0px;
  }
  .btn-lg {
    height: 50px;
    padding: 10px 16px;
  }
  #footer {
    bottom: 0px;
    min-height: 150px;
  }
  .arregloFotter {
    height: 110px;
  }
}

@media (max-width: 768px) {
  h5 {
    text-transform: none;
  }
}

@media (min-width: 176px) {
  .boxdisplay {
    margin-bottom: 20px;
  }
}

