.panel-senator {
    margin: 0 auto;
    position: relative;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
.panel-senator .front {
    position: absolute;
    top: 0;
    z-index: 900;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel-senator.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.panel-senator .back {
    position: absolute;
    top: 0;
    z-index: 800;
    -webkit-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
 
    -moz-transform: rotateY(-180deg);
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.panel-senator.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
}

.infograph {
    position: relative;
    top: -60px;
    z-index: -1;
}
img.chamber {
  z-index: 2;
  position: absolute;
}
span.positive {
  width: 55px;
  background-color: green;
  height: 55px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.3;
  border-radius: 25px;
}
span.against {
  width: 55px;
  background-color: red;
  height: 55px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.3;
  border-radius: 25px;
}
span.abstention {
  width: 55px;
  background-color: #5bc0de;
  height: 55px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.3;
  border-radius: 25px;
}
span.ausent {
  width: 55px;
  background-color: #f0ad4e;
  height: 55px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.3;
  border-radius: 25px;
}
span.paring {
  width: 55px;
  background-color: #428bca;
  height: 55px;
  z-index: 3;
  display: block;
  position: relative;
  opacity: 0.3;
  border-radius: 25px;
}
